.container {
    background-color: aqua;
    display: flex;
    height: 300px;
    /* justify-content: center; */
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 5px 10px;
    
    /* row-gap: 10px;
    column-gap: 5px; */
}

.container div {
    background-color: aliceblue;
    width: 100px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
}

/* .container .div1 {
    order: 3;
}

.container .div2 {
    order: 1;
}

.container .div3 {
    order: 2;
} */