* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* UTILITIES */
.container {
    width: 80%;
    margin: auto;
}

.section {
    padding: 60px 0;
}

.gray {
    background: #f4f4f4;
}

/* HEADER */
header {
    background: #111;
    color: #fff;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #00bcd4;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #00bcd4, #2196f3);
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #fff;
    color: #2196f3;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 8px 15px;
    margin: 8px;
    border-radius: 20px;
}

/* PROJECTS */
.project {
    margin-top: 20px;
    padding: 20px;
    border-left: 4px solid #2196f3;
    background: #fafafa;
}

/* CONTACT FORM */
form {
    max-width: 500px;
    margin-top: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

form button {
    background: #2196f3;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
